
.btn-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card{
    width: 200px;
height: 100px;
text-align: center;
margin: 20px !important;
padding: 10px;
border-radius: 8px;
border: 1px solid #eaeaea;
box-shadow: 1.2rem 1.2rem 1.5rem rgba(0,0,0,.3);
}

.text{
    font-size: 10px;   
    font-family: sans-serif;    
    text-align: left;
    font-weight: lighter;
}

.btn{
    margin: 1.5px;
    font-size: 10px;
}

.img{
    height: 60px;
    width: 60px;
    margin: 5px;
}

.card-btn{
    border: #B4E4FF solid;
    border-radius: 10px;
    background-color: transparent;
    font-size: 10px;
}

.card-btn-squad{
    border: none;
    background-color: transparent;
}
.card-btn:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.busy{
    font-weight: bold;
    color: brown;
}

.free{
    font-weight: lighter;
    color: seagreen;
}

.udid{
    text-transform: none;
    font-size: 10px;
}
.noDisplay{
    display: none;
}

.white-text{
    color: #fff;
}

.btn-custom{
    background-color: #B4E4FF;
    border: #B4E4FF solid;
    border-radius: 50%;
}

.btn-custom{
    background-color: #B4E4FF;
    border: #B4E4FF solid;
    border-radius: 2rem;
    margin-bottom:5px ;
    font-weight: 100;
}

.modal-header{
    background-color: #B4E4FF;
}

.modal-title{
    font-size: 30px;
    font-weight: 100;
}

.table-custom{
    margin-right: 5px;
}

.accordion-button{
    padding: 0;
}
table {
    border-spacing: 0px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    word-wrap: break-word;
}

.dropdown{
    transform: translate(400px);
    z-index: 10;
    margin-right: 20px;
}

.squad{
    font-size: 13px;
}

