
.btn-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card{
    width: 200px;
height: 100px;
text-align: center;
margin: 20px !important;
padding: 10px;
border-radius: 8px;
border: 1px solid #eaeaea;
box-shadow: 1.2rem 1.2rem 1.5rem rgba(0,0,0,.3);
}

.text{
    font-size: 10px;   
    font-family: sans-serif;    
    text-align: left;
    font-weight: lighter;
}

.btn{
    margin: 1.5px;
    font-size: 10px;
}

.img{
    height: 60px;
    width: 60px;
    margin: 5px;
}

.busy{
    font-weight: bold;
    color: brown;
}

.free{
    font-weight: lighter;
    color: seagreen;
}

.udid{
    text-transform: none;
    font-size: 10px;
}
.noDisplay{
    display: none;
}

.white-text{
    color: #fff;
}

.btn-custom{
    background-color: #B4E4FF;
    border: #B4E4FF solid;
    border-radius: 50%;
}